<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
</head>
<body>
    <h1>{{ mensagem }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientess %}
            <tr>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
